tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
syncLimit=2

{% for item in groups['datanodes'] %}
server.{{ loop.index }}={{ item }}:2888:3888
{% endfor %}

{% for item in groups['datanodes'] %}
{% if ansible_default_ipv4.address == item %}
{{ loop.index }}
{% endif %}
{% endfor %}
